/* Start of Main Table format */
.container-profile {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
}

.mat-drawer-content {
  height: 0;
}

.container-profile .container-inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0px;
  border: 1px solid #ccc;
}
/* End of Main Table format */

.container-profile .container-inside .card {
  background-color: var(--darkest-color);
}
.container-profile .container-inside .card form {
  width: 1000px;
}

.header {
  width: 100%;
  background-color: var(--darkest-color);
}

.container-profile .container-inside .card p {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  font-size: 17px;
  font-weight: 700;
  margin: 0px 0px 0px 20px;
}

p mat-icon {
  padding-right: 10px;
}

/* Profile Header */
.profile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 30px 0px;
}

.profile-icon img {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.profile-icon p {
  text-align: center;
  margin: 0;
}

.profile-icon p:nth-child(3) {
  padding-top: 10px;
}

/* Profile Edit */
.main-holder {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
}

p.current-name {
  margin: 0;
}

.main-holder .holderone {
  grid-column: 1;
}

.main-holder .holdertwo {
  grid-column: 2;
}

p.current-name {
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
}

.button {
  all: none;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 20px 0px;
}

button {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkest-color);
  border: none;
  color: white;
  border-radius: 4px;
}

button mat-icon {
  color: white;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  background-color: white;
  width: 463px;
  padding: 5px;
  border: 1px solid #ccc;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
}

button:nth-child(2) {
  margin-left: 5px;
}
