<div class="container">
  <h2>User Profile</h2>
  <div *ngIf="!isEditMode">
    <p><strong>Last Name:</strong> {{ this.currentUser?.LastName }}</p>
    <p><strong>First Name:</strong> {{ currentUser?.FirstName }}</p>
    <p>
      <strong>Birthdate:</strong>
      {{ currentUser?.Birthdate | date : "dd-MM-yyyy" }}
    </p>
    <p><strong>Student Number:</strong> {{ currentUser?.StudentNum }}</p>
    <p><strong>Username:</strong> {{ currentUser?.UserName }}</p>
    <p><strong>Password:</strong> {{ currentUser?.Password }}</p>
    <button (click)="enterEditMode(currentUser)">Edit</button>
  </div>
  <div *ngIf="isEditMode">
    <input type="text" [(ngModel)]="LastName" /><br />
    <input type="text" [(ngModel)]="FirstName" /><br />
    <input type="text" [(ngModel)]="Birthdate" /><br />
    <input type="text" [(ngModel)]="StudentNum" /><br />
    <input type="text" [(ngModel)]="UserName" /><br />
    <input type="text" [(ngModel)]="Password" /><br />
    <button (click)="UpdateProfile()">Save</button>
    <button (click)="toggleEditMode()">Cancel</button>
  </div>
</div>
